#header{
   padding: 25px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav a{
    font-size: 14px;
    color: white;
    font-weight: 400;
    padding: 0 15px;
}
.header-nav a:hover{
    color:#FFC71A ;
    font-weight: 600;
    text-decoration-line: underline;
}